[MASTER]
ignore=.venv,__pycache__

[MESSAGES CONTROL]
disable=
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    too-few-public-methods,
    too-many-instance-attributes,
    broad-exception-caught

[FORMAT]
max-line-length=100

[TYPECHECK]
ignored-modules=telegram,telegram.constants,telegram.ext

